<div>
    <h1>Restaurar Contraseña</h1>
    <form action="/session/restore" method="post">
        <input type="text" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Restaurar Contraseña</button>
    </form>
    <a href="/register">Registrese</a>
    <a href="/login">Iniciar Sesion</a>
</div>